{% if leftMenu %}
    <ul style="list-style-type: none; padding-left: 0;">
        {% for itemMenu in leftMenu %}
            <li>
                {% if currentActionName == itemMenu.nameAction %}
                    {{ itemMenu.title |trans }}
                {% else %}
                    <a href="{{ path(itemMenu.route) }}">{{ itemMenu.title |trans }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}