{% extends '::base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/control/main.css') }}"/>
{% endblock %}


{% block body %}

    {% block header %}
        {% include 'AppControlBundle::header.html.twig' %}
    {% endblock %}


    <div class="content">
        <div>

            <div class="left-menu" style="float: left;">

                {{ render(controller('AppControlBundle:Menu:left', {'nameController': app.request.get('_controller')})) }}

            </div>
            <div class="content-card">
                {% block content %}{% endblock %}
            </div>

        </div>
    </div>

{% endblock %}