<div class="mainMenu">
    <a href="{{ path('control_default') }}">Home</a> |
    <a href="{{ path('control_companies_list') }}">Company</a> |
    <a href="{{ path('control_shops_list') }}">Shops</a> |
    <a href="{{ path('control_users_list') }}">Users</a> |
</div>