{% extends 'AppPublicBundle::layout.html.twig' %}


{% block content %}
    <div>
        <a href="">Control</a>
    </div>

    <div>
        <a href="{{ path('appControl_security_login') }}">Login</a>
    </div>
{% endblock %}
